
    <div class="top-page">
    <% if flash.notice %>
        <p class="notice"><%= flash.notice %></p>
    <% end %>

<section class="section-top">
    <div class="btn-design">
        <%= link_to 'ルームを検索する', '/rooms/' %>
    </div>
</section>
